body {
  font-size: 10px;
}

.container {
  padding-top: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}
.enter-item {
  min-width: 50%;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;

  &::placeholder {
    font-size: 1.5rem;
  }

  &:invalid {
    border: 1px solid red;
  }
}

.toggle-settings {
  width: 30px;
  height: 30px;
  background: url('../assets/sort.svg') center / cover no-repeat;
}

.input {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 50px;
}
.add-item {
  width: 30px;
  height: 30px;
  background: url('../assets/plus.svg') center / cover no-repeat;
}

.list {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  min-width: 50%;
  gap: 20px;
  margin-bottom: 40px;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.item {
  &__is-done {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    gap: 10px;
  }

  &__controls {
    display: flex;
    gap: 5px;
  }

  &__delete {
    width: 30px;
    height: 30px;
    background: url('../assets/delete.svg') center / cover no-repeat;
  }

  &__edit {
    width: 30px;
    height: 30px;
    background: url('../assets/pen.svg') center / cover no-repeat;
  }
}

.show-items-btns {
  display: flex;
  gap: 20px;
  button {
    padding: 7px 15px;
    border-radius: 15px;
    background-color: rgba(32, 178, 170, 0.5);
    font-size: 1.2rem;
  }
}

.modal {
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__body {
    width: 30%;
    background-color: cadetblue;
    padding: 40px;
    border-radius: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
    margin-bottom: 40px;

    input {
      border-radius: 5px;
      padding: 10px;
      font-size: inherit;
    }
  }

  &__start-date {
    border: 1px solid lightseagreen;
  }

  &__controls {
    button {
      padding: 10px;
      font-size: 1.5rem;
      background-color: wheat;
      border-radius: 5px;
      width: 20%;
    }
  }
}
.cancel {
  margin-right: 40px;
}

.done {
  color: rgb(155, 150, 150);
  text-decoration: line-through;
}

.settings {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.5rem;
  margin-bottom: 40px;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  padding: 20px;

  select {
    font-size: inherit;
    border: 1px solid lightseagreen;
    background-color: rgba(32, 178, 170, 0.5);
    border-radius: 5px;
  }

  &__item {
    display: flex;
    gap: 15px;
  }
}

#search {
  font-size: inherit;
  border: 1px solid lightseagreen;
  background-color: rgba(32, 178, 170, 0.5);
  border-radius: 5px;
  padding: 0 10px;
}

#date {
  border: 1px solid lightseagreen;
  background-color: rgba(32, 178, 170, 0.5);
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0 10px;
}

.sort button {
  padding: 7px 15px;
  border-radius: 5px;
  background-color: rgba(32, 178, 170, 0.5);
  font-size: 1.2rem;
}

.hide {
  display: none;
}
