body {
  font-size: 10px;
}

.container {
  padding-top: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}
.enter-item {
  width: 50%;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;

  &::placeholder {
    font-size: 1.5rem;
  }
}

.input {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 50px;
}
.add-item {
  width: 30px;
  height: 30px;
  background: url('../assets/plus.svg') center / cover no-repeat;
}

.list {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  max-width: 50%;
  gap: 20px;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.item {
  &__is-done {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  &__body {
    flex: 1 1 auto;
  }

  &__start-date {
  }

  &__text {
  }

  &__end-date {
  }

  &__controls {
    display: flex;
    gap: 5px;
  }

  &__delete {
    width: 30px;
    height: 30px;
    background: url('../assets/delete.svg') center / cover no-repeat;
  }

  &__edit {
    width: 30px;
    height: 30px;
    background: url('../assets/pen.svg') center / cover no-repeat;
  }
}

.modal {
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__body {
    width: 30%;
    background-color: cadetblue;
    padding: 40px;
    border-radius: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
    margin-bottom: 40px;

    input {
      border-radius: 5px;
      padding: 10px;
      font-size: inherit;
    }
  }

  &__start-date {
    border: 1px solid lightseagreen;
  }

  &__text {
  }

  &__end-date {
  }

  &__controls {
    button {
      padding: 10px;
      font-size: 1.5rem;
      background-color: wheat;
      border-radius: 5px;
      width: 20%;
    }
  }
}
.cancel {
  margin-right: 40px;
}
.save {
}
